.diagram {
    color: var(--code-text-color);
    background-color: var(--code-background-color);
    padding: 2px 4px;
}

// {{< tabs >}}
.gdoc-tabs {
  margin: 16px 0;

  border: 1px solid var(--table-border-color);
  border-radius: 4px;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  &__label {
    display: inline-block;
    padding: 8px 16px;
    border-bottom: 1px transparent;
    cursor: pointer;
  }

  &__content {
    order: 999; //Move content blocks to the end
    width: 100%;
    border-top: 1px solid var(--accent-color-text);
    padding: 0 16px;
    display: none;
  }

  &__control {
    display: none
  }

  &__control:checked + &__label {
    border-bottom: 2px solid var(--accent-color);
  }
  &__control:checked + &__label + &__content {
    display: block;
  }

  .gdoc-page__anchor {
    display: none;
  }
}

.expand {
    margin: 16px 0;
    padding: 16px 16px;

    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
