{{- $size := default "regular" (.Get "size" | lower) }}

{{- if not (in (slice "regular" "large" "small") $size) }}
{{- $size = "regular" }}
{{- end }}

{{- $columns := len (split .Inner "<--->") }}
{{- $percent := div 100 $columns }}

<table style="table-layout: fixed; width: 100%; border: none; border-collapse: collapse;" >
  <tr style="border: none;">
    {{- range split .Inner "<--->" }}
    <td style="border: none; width:{{ $percent }}%;">
      {{ . | $.Page.RenderString | htmlUnescape | safeHTML }}
    </td>
    {{- end }}
  </tr>
</table>